@using OgrenciNot_NetMvc5.Models.EntitiyFramework
@model List<TBL_OGRENCILER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Ogrenci Id</th>
        <th>Adı</th>
        <th>Soyadı</th>
        <th>Cinsiyet</th>
        <th>Kulüp</th>


    </tr>
    @foreach (var ogr in Model)
    {
        <tr>
            <td>@ogr.OGRENCIID</td>
            <td>@ogr.OGRAD</td>
            <td>@ogr.OGRSOYAD</td>
            <td>@ogr.OGRCINSIYET</td>
            <td>@ogr.OGRKULUP</td>
        </tr>

    }
</table>
<a href="/OgrenciListesi/YeniOgrenci" class="btn btn-primary">Yeni Öğrenci Kaydı</a>   

